
html, body {
    height: 100% ;  /* Ensure the height covers the entire viewport */
    margin: 0;    /* Remove default margin */
    font-family: 'Inter', sans-serif;
    
  }

body {
    background: linear-gradient(to bottom, #F3EADB, #D3BAA0);/* Change to your desired background color */
    
    margin: 0;
    padding: 0;
    color: #463227;
  }

  header {
    background-color: #FFFCF7; /* White background for the bar */
    font-family: 'Inter', sans-serif;
    position: fixed; /* Fixed position to stay at the top */
    width: 100%; /* Full width */
    top: 0; /* Align to the top */
    left: 0; /* Align to the left */
    z-index: 1000; /* Ensure it stays on top of other content */
  }
  
  header .container {
    display: flex;
    justify-content: space-between; /* Distribute space between items */
    align-items: center; /* Center items vertically */
    padding: 0 150px; /* Add horizontal padding to the container */
  }

  
  header h2 {
    font-family: 'Inter', sans-serif;
    color: #463227;
    font-size: 14px;
}
/* Reset some default styles */
body, html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}


/* Search container styling */
.search-container {
  position: absolute;
  right: 20px;
  top: 50%;
  
}

.search-container form {
  display: flex;
  align-items: center;
}

.search-container input[type="text"] {
  padding: 8px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
}

.search-container button {
  padding: 8px 12px;
  background-color: #555;
  color: white;
  border: none;
  border-radius: 4px;
  margin-left: 8px;
  cursor: pointer;
}

.search-container button:hover {
  background-color: #444;
}


h2.container span {
    margin-right: 20px; /* Adjust this value to set spacing between sentences */
}


  

  
footer {

bottom: 0;
width: 100%;
background-color: #fff;
text-align: center;
padding: 40px;
border-top: 1px solid #ddd;
align-items: center;

}

 


  /* body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5e8d9;
} */


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 70px 20px;
    margin-right: 50px;
    margin-left: 50px;
    position: relative;
    z-index: 2;
    
}

.search-bar input {
    padding: 5px;
    width: 200px;
}

.menu {
    background-color: #463227;
    height: 30px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.menu a {
    margin-left: 15px;
    color: #ffffff;
    text-decoration: none;
    padding: 30px 30px 30px 30px;
}

main {
    text-align: center;
    padding: 20px;
    background-color: #CAB09B;

    position: relative;
}

h1 {
    font-size: 48px;
    margin-bottom: 0;
    color: #fff;
}

.subtitle {
    color: #59453c;
    margin-bottom: 20px;
}

footer {
    background-color: #ffffff;
    padding: 20px 0;
    position: static;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    font-size: 14px;
    padding: 0 20px;
}

.contact-info {
    flex: 1;
    margin-left: 80px;
    text-align: left;
}

.services, .return-policy, .help {
    flex: 1;
    text-align: center;
    margin-left: 100px;
}


.footer-heading {
    font-weight: bold;
    margin-bottom: 10px;
    font-size:17px;
}
.footer-list {
    list-style-type: none;
    padding: 0;
}
.footer-list li {
    margin-bottom: 5px;
    
}
.footer-list a {
    color: #4a4a4a;
    text-decoration: none;
}
.copyright {
    text-align: center;
    margin-top: 20px;
    font-size: 12px;
    color: #8b7b6b;
}


.instagram {
    float: left; 
    margin-left:20px;
    margin-right: 10px;
    margin-top:4px;
}

.telephone {
    float: left; 
    margin-left:20px;
    margin-right: 10px;
    margin-top:4px;
}

.mail {
    float: left; 
    margin-left:20px;
    margin-right: 10px;
    margin-top:4px;
}

.swap-text {
    position: absolute;
    top: 120px; /* Adjust to fine-tune the vertical alignment */
    left: 0;
    right: 0;
    height: 148px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Inter', sans-serif;
    font-size: 80px;
    font-weight: bolder;
    color: #463227;
    z-index: 3; /* Ensure this section is on top of everything */
    text-transform: uppercase;
    letter-spacing: -0.06;
    margin: 0 auto; /* Center horizontally */
}

.title-section {
    position: relative;
    margin-top: 10px; /* Adjust to fine-tune the vertical alignment */
    left: 0;
    right: 0;
    height: 80px;
    display: flex;
    color: #6b4e3d;
    background: linear-gradient(90deg, rgba(158, 116, 92, 0.7), rgba(56, 41, 33, 0.7));
    z-index: 2; /* Ensure this section is on top of everything */
}


.lower-nav {
    display: flex;
    margin-left: 70px;
    align-items: center;
    margin-top: 50px; /* Adjust spacing above the tabs */
    margin-bottom: 50;
}

.tab {
    text-decoration: none;
    padding: 10px 20px;
    background-color: #fff; /* White background */
    color: #6b4e3d; /* Text color */
    margin: 0 8px; /* Space between tabs */
    position: relative;
    display: inline-block;
    font-family: 'Inter', sans-serif;
    letter-spacing: -0.06;
}

.tab::after {
    content: '';
    position: absolute;
    top: 50%;
    width: 20px;
    height: 20px;
    background: inherit;
    transform: translateY(-50%) rotate(45deg);
    z-index: -1;
}

.tab::after {
    right: -10px;
    border-left: none;
    border-top: none;
}

.tab.active {
    background-color: #f7f2ea; /* Active tab background */
    color: #382921; /* Active tab text color */
}

.tab:hover {
    background-color: #e0d6c9; /* Hover effect */
}

.eligibility-header {
    display: flex;
    margin-left: 70px;
    align-items: center;
    margin-top: 50px; /* Adjust spacing above the tabs */
    color: #B6947E; /* Text color */
    font-size: 60px;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    letter-spacing: -0.06;
    text-transform: uppercase;
}

.eligibility-photo {
    padding: 0px 0px;
    align-items: center;
    
}

.eligibility-photo img{
    width: 435px;
    height: auto;
    align-items: center;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    /*justify-content: space-between; /* Space between left and right areas */
    /*align-items: flex-start; /* Aligns the items at the top */
    /*gap: 20px; /* Space between the left and right text areas */
}

.left-text {
    /*width: 50%; /* Each takes up half the container width */
    margin-left: 10%; 
    margin-top: 70px;
    
    box-sizing: content-box; 
    margin-bottom: 100px;

}

.right-text {
    box-sizing: content-box;
    margin-bottom: 100px;
    margin-right: 20%;
    margin-left: 10%;
    justify-content:space-between;
}


.text-container {
    width: 435px; /* Adjust width as needed */
    padding-top: 20px;
}

.dropzone {
    height: 300px;
    width: 100%;
    border: 2px dashed #6b4e3d;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: 'Inter', sans-serif;
    color: #6b4e3d;
    cursor: pointer;
    background-color: #D3BBA7;
    padding: 5px;
}

.dropzone.hover {
    background-color: #f0e5d8;
}

.dropzone img {
    max-width: 100%;
    max-height: 100%;
    
}

.dropzone p {
    margin: 0;
}

.next-button {
    position: absolute;
    bottom: 10px;
    background-color: #6b4e3d; /* Button background color */
    color: white; /* Text color */
    padding: 10px 20px; /* Padding inside the button */
    font-size: 16px; /* Font size */
    border: none; /* Remove default border */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Pointer cursor on hover */
    text-transform: uppercase; /* Uppercase text */
    font-family: 'Inter', sans-serif; /* Font style */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Optional shadow */
    transition: background-color 0.3s ease, transform 0.2s ease; /* Smooth transition */
    right: 10px;
}

.next-button:hover {
    background-color: #50382a; /* Darker background on hover */
    transform: translateY(-2px); /* Lift button on hover */
}

.next-button:active {
    background-color: #382921; /* Even darker background when clicked */
    transform: translateY(0); /* Reset position */
}

.button-container {
    position: relative; /* Parent container must be relative */
    height: 100%; /* Ensure the container has a defined height */
}